mixin b_calendar(idcurrent, idnext, idprev, currentmonth, nextmonth, prevmonth, style)
    .b_calendar_wrapper
            div(class="b_calendar" id="#{idcurrent}" style="#{style};")
                .clearfix.-blue-bg.b_calendar_header
                    .fll.b_calendar_header_left
                        a(href="#" id="#{idprev}")
                            i(class="icon arrow-left_full")
                            span.-left.b_calendar_header_month #{prevmonth}
                    .fll.b_calendar_header_center #{currentmonth} 2014
                    .flr.b_calendar_header_right
                        a(href="#" id="#{idnext}")
                           span.-right.b_calendar_header_month #{nextmonth}
                           i(class="icon arrow-right_full")
                .clearfix.-blue-bg.b_calendar_days-of-week
                    .col-seven.fll SUN
                    .col-seven.fll MON
                    .col-seven.fll TUE
                    .col-seven.fll WED
                    .col-seven.fll THU
                    .col-seven.fll  FRI
                    .col-seven.fll.-last  SAT
                .b_calendar_days_wrapper.-white-bg
                    .clearfix.b_calendar_days
                        .col-seven.fll
                            a(href="#" class="-disable") 27
                        .col-seven.fll
                            a(href="#" class="-disable") 28
                        .col-seven.fll
                            a(href="#" class="-disable") 29
                        .col-seven.fll
                            a(href="#" class="-disable") 30
                        .col-seven.fll
                            a(href="#" class="-disable") 31
                        .col-seven.fll
                            a(href="#") 1
                        .col-seven.fll.-last
                            a(href="#") 2
                    .clearfix.b_calendar_days
                        .col-seven.fll
                            a(href="#") 3
                        .col-seven.fll
                            a(href="#") 4
                        .col-seven.fll
                            a(href="#") 5
                        .col-seven.fll
                            a(href="#") 6
                        .col-seven.fll
                            a(href="#") 7
                        .col-seven.fll
                            a(href="#") 8
                        .col-seven.fll.-last
                            a(href="#") 9
                    .clearfix.b_calendar_days
                        .col-seven.fll
                            a(href="#") 10
                        .col-seven.fll
                            a(href="#") 11
                        .col-seven.fll
                            a(href="#") 12
                        .col-seven.fll
                            a(href="#") 13
                        .col-seven.fll
                            a(href="#") 14
                        .col-seven.fll
                            a(href="#") 15
                        .col-seven.fll.-last
                            a(href="#") 16
                    .clearfix.b_calendar_days
                        .col-seven.fll
                            a(href="#") 17
                        .col-seven.fll
                            a(href="#") 18
                        .col-seven.fll
                            a(href="#") 19
                        .col-seven.fll.-current
                            a(href="#") 20
                        .col-seven.fll
                            a(href="#") 21
                        .col-seven.fll
                            a(href="#") 22
                        .col-seven.fll.-last
                            a(href="#") 23
                    .clearfix.b_calendar_days
                        .col-seven.fll
                            a(href="#") 24
                        .col-seven.fll
                            a(href="#") 25
                        .col-seven.fll
                            a(href="#") 26
                        .col-seven.fll
                            a(href="#") 27
                        .col-seven.fll
                            a(href="#") 28
                        .col-seven.fll
                            a(href="#") 29
                        .col-seven.fll.-last
                            a(href="#") 30
                    .clearfix.b_calendar_days
                        .col-seven.fll
                            a(href="#" ) 31
                        .col-seven.fll
                            a(href="#" class="-disable") 1
                        .col-seven.fll
                            a(href="#" class="-disable") 2
                        .col-seven.fll
                            a(href="#" class="-disable") 3
                        .col-seven.fll
                            a(href="#" class="-disable") 4
                        .col-seven.fll
                            a(href="#" class="-disable") 5
                        .col-seven.fll.-last
                            a(href="#" class="-disable") 6
