mixin b_tables_row(col1, col2, col3, col4,col5)
    .b_tables_body_row.clearfix
        .col-xs-2.b_table_col-1
              .b_two-number-width  #{col1}
        .col-xs-4.b_table_col-2.b_trim
              .b_trim_inner  #{col2}
        .col-xs-2.b_table_col-3 #{col3}   
        .col-xs-2.b_table_col-4
             .b_three-number-width  #{col4}
        .col-xs-2.b_table_col-5
             .b_two-number-width  #{col5}