-var col = {num1: 'col-md-4',num2: 'col-md-3', num3: 'col-md-3', num4: 'col-md-2 '}
-var row = {class: 'g_table_row -lg'}


.row_main-title
  h1.g_main-title <i class="icon list"></i>Categories

.g_dotted_header.dotted-bg
  .row
    div(class="#{col.num1}") Name
    div(class="#{col.num2}") Created
    div(class="#{col.num3}") # of Products
    div(class="#{col.num4}") # of Notifacations
div(class="#{row.class}")
  .row
    div(class="#{col.num1} g_table_column") Lawyers
    div(class="#{col.num2} g_table_column") 01.04.2014
    div(class="#{col.num3} g_table_column") 5
    div(class="#{col.num4} g_table_column") 2.457
div(class="#{row.class}")
  .row
    div(class="#{col.num1} g_table_column") Accounts
    div(class="#{col.num2} g_table_column") 01.04.2014
    div(class="#{col.num3} g_table_column") 5
    div(class="#{col.num4} g_table_column") 3.457
div(class="#{row.class}")
  .row
    div(class="#{col.num1} g_table_column") Test
    div(class="#{col.num2} g_table_column") 01.04.2014
    div(class="#{col.num3} g_table_column") 3
    div(class="#{col.num4} g_table_column") 2.4504
div(class="#{row.class}")
  .row
    div(class="col-md-4")
      input.g_input(placeholder="-Test -")
    div(class="col-md-8")
      button.simple-btn <i class="white-check icon"></i>Save New