mixin b_match(status, flagcountry, statusword, time, command1, command2, count1, count2, command1css, command2css )
    div(class="b_match #{status} col-xs-12")
        .row
            .col-xs-2.b_match_info
                .b_match_flag
                    <i class="#{flagcountry} icon"></i>
                .b_match_time  #{time}
                .b_match_status  #{statusword}
            .col-xs-8.b_match_teams 
                .b_match_team
                    div.icon_wrapper 
                        <i class="#{command1css} icon"></i>
                    span #{command1}
                    .b_match_count.flr #{count1}
                .b_match_team
                    div.icon_wrapper 
                        <i class="#{command2css} icon"></i>
                    span #{command2}
                    .b_match_count.flr #{count2}
            .col-xs-2.b_row_left-link
                  a(href="#")
                        i.icon.arrow-right_gray