mixin navigation_bottom(linkname1, link1, linkname2, link2, linkname3, link3 )
    .navbar-bottom.col-xs-12       
        .row
            <a href="#{link1}" class="col-xs-3 first "><img src="files/arrow-left_gradient.png " class="arrow-left-img #{linkname1}" alt=""><span class="flr #{linkname1}"> #{linkname1}</span> </a>
            <a href="#{link2}" class="col-xs-6 ">#{linkname2}</a>
            <a href="#{link3}" class="col-xs-3 last"><span>#{linkname3}</span><img src="files/arrow-right_gradient.png " class="arrow-right-img" alt=""></a>